
  body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #0b132b, #1c2541, #0b132b);
  padding: 15px 70px 15px 20px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #3399FF;
}
span {
  font-size: 18px;
  font-weight: 600;
  color: #CCCCCC;
  white-space: nowrap;
}
nav ul {
  display: flex;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
nav ul li a {
  font-size: large;
  text-decoration: none;
  padding: 3px;
  position: relative;
  transition: color 0.3s ease;
  color: #CCCCCC;
}
nav a:hover {
  color: #3399FF;
  background: linear-gradient(to right, #2c3e50, #3399FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #3399FF;
  transition: width 0.3s ease;
}
nav a:hover::after {
  width: 100%;
}
nav a.active {
  color: #3399FF;
  background: linear-gradient(to right, #2c3e50, #3399FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
nav a.active::after {
  width: 100%;
}
/* Exemple global pour avatar */
.nav-avatar {
    width: 40px;          /* taille souhaitée */
    height: 40px;         /* taille souhaitée */
    border-radius: 50%;   /* cercle parfait */
    object-fit: cover;    /* remplissage correct sans déformation */
}

